
@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Welcome</h1>
    <output>09:22</output>
    <span>Saitan Kittibullungkul</span>
    <img src="~/img/user-profile.svg" alt="user profile picture" width="100"/>
</header>
<section></section>
<section></section>

