
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Utill.js"></script>
    <script src="~/js/Api.js"></script>
    <script src="~/js/LogIn.js"></script>
</head>
<body>
    <header>
        <h1>Log in to Borrow</h1>
    </header>
    <section>
        <form id="form">
            <lable for="email">Email address</lable>
            <input id="email" type="text" name="email" value="" />
            <lable for="password">Password</lable>
            <input id="password" type="password" name="password" value="" />
            <button type="submit">Login</button>
            <div class="loader" id="loader" style="visibility:hidden;"></div>
        </form>
    </section>
    <footer>
        <p>Not a member?<a href="/user/register">Register now</a></p>
    </footer>
</body>
</html>
