
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-action="Login">
        <lable for="Email">Email address</lable>
        <input id="Email" type="text" name="Email" value="" />
        <lable for="Password">Password</lable>
        <input id="Password" type="password" name="Password" value="" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
