
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/Utill.js"></script>
    <script src="~/js/Api.js"></script>
    <script src="~/js/LogIn.js"></script>
</head>
<body>
    <header>
        <h1>Log in to <span style="color:#9D0042">Borrow</span></h1>
    </header>
    <section>
        <form id="form">
            <lable for="email">Email address</lable><br>
            <input id="email" type="email" name="email" value="" required /><br>
            <lable for="password">Password</lable> <lable for="password" style="margin-left:300px;color: #0373B3;display:none;">Forgot password?</lable><br>
            <input id="password" type="password" name="password" value="" required/><br>
            <button class="submit" type="submit" id="submitLoginButton">Login</button>
            <div class="loader" id="logInLoader" style="display:none;"></div>
        </form>
    </section>
    <footer>
        <p>Not a member?<a href="/user/register"> Register now</a></p>
    </footer>
</body>
</html>
