
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Api.js"></script>
    <script src="~/js/Register.js"></script>

</head>
<body style=" top: 13%">
    <header>
        <h1 style="margin-bottom: 50px">Register to <span style="color:#9D0042">Borrow</span></h1>
    </header>
    <section>
        <form id="form">
            <label for="fullName">Full Name</label><br>
            <input type="text" name="fullName" id="fullName" value="" /><br>
            <label for="email">Email Address</label><br>
            <input type="email" name="email" id="email" value="" /><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" value="" /><br>
            <button type="submit">Register</button>
            <div class="loader" id="registerLoader" style="visibility:hidden;"></div>
        </form>
    </section>
    <footer>
        <p>Already a member?<a href="/user">Log in</a></p>
    </footer>
</body>
</html>
