<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BorrowingSystem</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

    <link rel="stylesheet" href="~/css/site.css" />
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "management")
    {
        <link rel="stylesheet" href="~/css/Management.css" />
    }
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard")
    {
        <link rel="stylesheet" href="~/css/Dashboard.css" />
    }
    <script src="~/js/Utill.js"></script>
    <script src="~/js/Api.js"></script>
    <script src="~/js/Layout.js"></script>
</head>
<body>
    <section class="sidenav">
        <img src="~/img/Logo.png" alt="logo picture" width="100" />
        <nav>
            <div class="navbutton">
                <img src="~/img/Category.png" alt="Dashboard icon" />
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="navbutton">
                <img src="~/img/Swap.png" alt="My borrow icon" />
                <a href="/myborrow" id="myBorrowNavigation">My borrow</a>
            </div>
            <div class="navbutton">
                <img src="~/img/Profile.png" alt="Edit profile icon" />
                <a href="/editprofile">Edit profile</a>
            </div>
            <div class="navbutton">
                <img src="~/img/Graph.png" alt="Management icon" />
                <a href="/management" id="managementNavigation">Management</a>
            </div>
            <div class="navbutton">
                <img src="~/img/Setting.png" alt="Setting icon" />
                <a href="/editprofile">Setting</a>
            </div>
            <div class="navbutton" logout>
                <img src="~/img/Logout.png" alt="Log out icon" />
                <a href="" id="logOut" onclick="logOutHandler(event)">Log out</a>
            </div>
            <div class="loader" id="logOutLoader" style="visibility:hidden;"></div>
        </nav>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
