#bodySection{
    display: flex;
}
#roomDetailSection{
    display: flex;
}
.dropDownActionMenu {
    z-index: 1;
    position: relative;
    background-color: grey;
    top: -10px;
    left: -70px;
}