/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* ------------------------sidenav-------------------------------*/
.sidenav {
    height: 100%;
    width: 14vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #030303;
}

.navbutton {
    text-align: center;
    padding: 1em;
    white-space: nowrap;
    margin-left: 1em;
    border-radius: 8px 0px 0px 8px;
}

.navbutton img {
    width: 1.5em;
    padding-right: 8%;
    transform: translateY(15%);
}

.navbutton[logout] {
    width:auto;
    bottom: 10px;
    transform: translateY(-50px);
}

.sidenav a {
    text-decoration: none;
    font-size: 1.2vw;
    color: #FFFFFF;
    word-wrap: break-word;
}

.sidenav > img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
    display: block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9D0042;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.popup {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background: #FFFEFF;
    border-radius: 16px;
    margin-left:25%;
    margin-right:25%;
    padding-top:5%;
    padding-bottom:5%;
    display:flex;
   justify-content:center;
   height:45%;
}

.verticle-display {
    display: flex;
    flex-direction:column;
}

.horizontal-display{
    display:flex;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    height:100%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#topImageNav{
    text-align:center;
    padding:2em;
}

.menu-icon{
    font-size:2.1em;
    position:relative;
    top:0.25em;
}
#mainContainer {
    width:100%;
}
#popupOnInitialBodyFooter{
    display:flex;
    justify-content:center;
}

.popup-header {
    color: #333333;
    text-align: center;
    font-size: 36px;
}
.popup-header-2 {
    color: #333333;
    text-align: center;
    font-size: 32px;
}
.popup-header-2-error {
    color: #9D0042;
    text-align: center;
    font-size: 32px;
}
.popup-input {
    border: 2px solid #9D0042;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px #ffeff8;
    border-radius: 16px;
    padding: 10px;
    font-size: 15px;
    display:block;
    margin:15px;
}
.popup-button{
    margin: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    border-radius: 16px;
    cursor: pointer;
}
.popup-button-primary {
    border: none;
    color: white;
    background-color: #9D0042;
}
.popup-button-secondary {
    border-radius: 16px;
    border: 2px solid rgba(60, 60, 67, 0.6);
    cursor: pointer;
    color: rgba(60, 60, 67, 0.6);
    background-color:white;
}
.center-row-flex {
    display: flex;
    justify-content: center;
}
.center-column-flex{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.popup-icon {
    font-size: 100px;
}
.correct-icon {
    color: #77dd77;
    font-size: 100px;
}
.incorrect-icon {
    color: #ec0b00;
    font-size: 100px;
}
.error-text {
    color: #ec0b00;
}
.image-profile-li {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 10px;
}
.username-li {
    margin: 10px;
    position: relative;
    top: -2em;
}
.action-li {
    position: relative;
    top: -0.5em;
    font-size: 40px;
    cursor:pointer;
}
.action-li:hover {
    background-color: rgba(60, 60, 67, 0.18);
}
.popup-ul{
    height:45%;
    overflow-y:scroll;
}
.user-profile-image {
    margin-right: 8%;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin-top: 1em;
}

