/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* ------------------------sidenav-------------------------------*/
.sidenav {
    height: 100%;
    width: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #030303;
    padding-top: 60px;
}

.navbutton {
    padding: 8px 30px 5vh 32px;
    display: block;
    white-space: nowrap;
}

.navbutton img {
    width: 1.5em;
    padding-right: 8%;
    transform: translateY(15%);
}

.navbutton[logout] {
    position: absolute;
    width:auto;
    bottom: 10px;
    transform: translateY(-50px);
}

.sidenav a {
    text-decoration: none;
    font-size: 2.5vh;
    color: #FFFFFF;
    word-wrap: break-word;
}

.sidenav > img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
    display: block;
}
/* ------------------------edit-profile-------------------------------*/

.pre-profile-block {
    float: left;
    width: 30%;
    padding: 10px;
    background-color:antiquewhite;
}

edit-profile-block {
    float: left;
    padding: 10px;
    background-color: bisque;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9D0042;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #f4f1bc;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #0da789;
    box-shadow: 5px 5px 5px #857d7b;
}

.verticle-display {
    display: flex;
    flex-direction:column;
}

.horizontal-display{
    display:flex;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    height:100%;
}